#display {
	font-family:ubuntu-mono, monospace;
	display: inline-block;
	font-size: 20px;
	margin: 26px 0 0 20px;
	width: auto;
	height: auto;
	padding: 1px 2px 1px 2px;
	-moz-box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
	box-shadow: 0 0 10px #666;
}

#display p {
	margin:0;
}

#display .row-th {
	text-align: right;
	font-weight:normal;
}

#display table {
	border-collapse: separate;
	border-spacing:.5em 0;
}

#display td {
	margin-left:1em;
	padding:0 1em;
}

.bold {
	font-weight:bold;
}

